<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.com.ticketpass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TicketPassApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".selectsigntype.SelectTypeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".guest.GuestLoginActivity" />

        <activity android:name=".host.HostSignUpActivity" />

        <activity android:name=".host.HostLoginActivity" />

        <activity android:name=".hostmanage.QReaderActivity" >

        </activity>
        <activity android:name=".host.HostEditGuestActivity">

        </activity>
        <activity android:name=".host.HostEventManageActivity">

        </activity>
        <activity android:name=".host.GuestSignupActivity"/>

        <activity android:name=".guest.GuestMainActivity" >
        </activity>

    </application>

</manifest>